.input-group {
    font-size: 1.25rem;
    position: relative;
    --primary: #2196f3;
}
.textarea-group {
    font-size: 1.25rem;
    position: relative;
    --primary: #2196f3;
}

.input {
    all: unset;
    color: #d4d4d4;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    text-align: left;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.textarea {
    all: unset;
    width: 226px;
    height: 200px;
    color: #d4d4d4;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    text-align: left;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms 
        cubic-bezier(0.4,0,0.2,1);
}

.input:focus{
    border: 1px solid var(--primary);
}

.textarea:focus{
    border: 1px solid var(--primary);
}

.input:is(:focus, :valid) ~ label {
    transform: 
        translateY(-105%)
        translateX(-20%)
        scale(0.7);
    background-color: #1a1a1a;
    padding-inline: 0.3rem;
    color: var(--primary);
    text-align: left;
}

.textarea:is(:focus, :valid) ~ label {
    transform: 
        translateY(-105%)
        translateX(-20%)
        scale(0.7);
    background-color: #1a1a1a;
    padding-inline: 0.3rem;
    color: var(--primary);
    text-align: left;
}