html, body {
    background-color: #232f3e;
    color: whitesmoke;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminForm{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
    margin: 0, 10%;
    border-radius: 10px;
}