.menu-links{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    /* background-color: whitesmoke; */
}

.menu-links>a{
    margin: 10px;
}