@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*
    Categories
*/
.category-name{
    display: contents;
    font-size: 2rem;
    font-weight: 500;
}

details{
    display: inline-block;
    width: fit-content;
}

/*
    Card container
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 150px;
    height: 250px;
    margin: 2px 1px;
    z-index: 2;
    color: black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);   
    transform: scale(1.05);
    z-index: 3;
}


.card-container {
    display: flex;
    height: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*
    Link
*/
a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

/*
    Card image
*/
img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.card-img{
    display: flex;
    width: 100%;
    height: 150px;
}

.card-img > img{
    height: 100%;
    width: 100%;
}


/*
    Card infos (text below images)
*/
.card-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-name{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.skill-price-infos{
    margin:0;
    width: 100%;
    text-align: center;
}

.bi-cart-plus{
    width: 90%;
    background-color: #fff;
    color: #2196f3;
    border: 2px solid #2196f3;
}





/*
    Responsive design
*/

@media (min-width:768px) {
    .card{
        min-width: 200px;
        min-height: 300px;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    .card-img{
        max-height: 130px;
    }
    
    .skill-name{
        line-height: 1em;
        height: 1em;
        overflow: hidden;
        font-size: 1.25rem;
    }

    .skill-price-infos{
        /* display: none; */
    }

    .bi-cart-plus{
        height: 40px;
    }
}